<div class="navArea row">
    <div class="">
      <a class="btn ml-3"
              routerLink="/table">
        Patients
      </a>
    </div>
    <div class="">
      <a class="btn btn-default ml-2"
              routerLink="/visittable">
        Visits
      </a>
    </div>
   <!--<div class="">
    <a class="btn btn-default ml-2"
            routerLink="/">
      Settings
    </a>
   </div>-->
  <div *ngIf="isAdmin" class="">
    <a class="btn btn-default ml-2"
            routerLink="/admin/overview">
      Admin
    </a>
  </div>
  <div class="col text-right mr-2">
      <a class="userwelcome" routerLink="/login">Welcome, {{name}}</a>
      <a class="btn btn-default"
              (click)="authService.logout()">
        Log Out
      </a>
   </div>
</div>

<style>
  .navArea {
    background-color: #080c5e;
    color: white;
    height: 45px;
    padding-bottom: 0;
    padding-top: 5px;
  }

  .a{
    text-decoration: none;
    color: white;
    
  }

  a:hover {
    border: 1px solid;
    outline-color: dodgerblue;
    color: white;
  }
  .userwelcome {
    color: dimgrey !important;

  }
  .userwelcome:hover {
    text-decoration: underline !important;
    border: none;
    cursor: pointer;
    color: deepskyblue !important;
  }
  /*.btnLogout{
    color: dodgerblue !important;
  }
  btnLogout:hover {
    border: 1px solid;
    outline-color: dodgerblue;
    color: white;
  }*/

</style>