<div id="navArea" class="navArea row">
  <div>
   <p class="btn mt-0.8 ml-2 mr-1 pb-1.1 logo" routerLink="/table"><i class="fa fa-medkit" style="color:red"></i> <i class="font-weight-bold" style="color:red">Digital</i><i>Kilinik</i></p>
  </div>
    <div class="">
      <a class="btn ml-1"
              routerLink="/table" [routerLinkActive]="['active']">
        Patients
      </a>
    </div>
    <div class="" >
      <a id="visit"class="btn btn-default ml-2"
              routerLink="/visittable" [routerLinkActive]="['active']">
        Visits
      </a>
    </div>
  <div *ngIf="isAdmin" class="">
    <a class="btn btn-default ml-2"
            routerLink="/admin" [routerLinkActive]="['active']">
      Admin
    </a>
  </div>
  <div class="col text-right mr-2">
      <a class="userwelcome" routerLink="/login">Welcome, {{name}}</a>
      <a class="btn btn-default"
              (click)="authService.tokenLogout()">
        Log Out
      </a>
   </div>
</div>

<style>
  .navArea {
    background-color: #080c5e;
    color: white;
    height: 45px;
    padding-bottom: 0;
    padding-top: 5px;
  }

  .a{
    text-decoration: none;
    color: white;
    
  }
  .btn{
    padding: 7px 3px 7px 3px;
    margin-top: 3px;
  }

  a:hover {
    border: 1px solid;
    outline-color: dodgerblue;
    color: white;
  }
  .active {
    border: 1px solid;
    outline-color: dodgerblue;
    color: white;
  }
  .logo:hover {
    border: 1px solid;
    outline-color: dodgerblue;
    color: white;
  }
  .userwelcome {
    color: dimgrey !important;
    padding-top: 5px;

  }
  .userwelcome:hover {
    text-decoration: underline !important;
    border: none;
    cursor: pointer;
    color: deepskyblue !important;
  }
 

</style>


