<div class="navbar bg-info mb-1">
  <a class="navbar-brand text-white"> Password Management </a>
</div>

<div class="forgotPassword">
  <form novalidate #authForm="ngForm">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2" style="width:150px; text-align:left">Email</span>
        <input #email="ngModel" name="email" class="form-control"
               [(ngModel)]="authService.email" placeholder="" required type="email"/>
      </div>
      <div *ngIf="email.invalid" class="text-danger">
        Please enter your email
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2" style="width:150px; text-align:left">Password</span>
        <input #password="ngModel" name="password" class="form-control"
               [(ngModel)]="authService.password" placeholder="" required type="password"/>
      </div>
      <div *ngIf="password.invalid" class="text-danger">
        Please enter password
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2" style="width:150px; text-align:left">Confirm Password</span>
        <input #confirmpassword="ngModel" name="confirmpassword" class="form-control"
               [(ngModel)]="authService.confirmpassword" placeholder="" required type="password"/>
      </div>
      <div *ngIf="confirmpassword.invalid" class="text-danger">
        Please enter confirm password
      </div>
    </div>
    <!--<input type="hidden" name="code" [(ngModel)]="authService.code" value="code"/>-->
    <div class="pt-2">
      <button class="btn btn-primary mb-5" [disabled]="authForm.invalid"
              (click)="resetpassword()">
        Submit
      </button>
    </div>
  </form>
</div>
<style>
  .forgotPassword {
    width: 50%;
    margin: auto;
    margin-top: 10%;
  }
</style>