<div class="container">
  <div class="card create bor">
    <div class="card-body btn btn-info mb-3">
      <i class="fa fa-user-plus"></i> Account Request
    </div>
    <div class="alert alert-warning m-3">
      <p>
        This form is ONLY to be used to request a new account if you do not have one already. Please complete this form accurately and your request will be reviewed for approval
        as soon as possible. Ensure to supply a working email since account instructions will be send there. If you have an existing account and have forgotten your password, please click <a routerLink="/forgotpassword">here</a> to reset your account password.
      </p>
    </div>
    <div class="cardbody ml-3 mr-3">
      <div class="form1">
        <form novalidate #form="ngForm" (ngSubmit)="submitForm(form)">
          <div class="bg-danger p-a-1 mb-1"
               *ngIf="formSubmitted && form.invalid">
            There are problems with the form
          </div>

          <div class="form-group ">
            <label>Salutation</label>
            <select class="form-control" [(ngModel)]="newUser.title" name="title">
              <option>Mr.</option>
              <option>Ms.</option>
              <option>Mrs.</option>
            </select>
          </div>

          <div class="form-group">
            <label>First Name</label>
            <input class="form-control" [(ngModel)]="newUser.firstName" name="firstName"
                   #firstName="ngModel" required />
            <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || firstName.dirty) && firstName.invalid">
              <li *ngFor="let error of getValidationMessages(firstName)">
                {{error}}
              </li>
            </ul>
          </div>

          <div class="form-group">
            <label>Last Name</label>
            <input class="form-control" [(ngModel)]="newUser.lastName" name="lastName"
                   #lastName="ngModel" required />
            <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || lastName.dirty) && lastName.invalid">
              <li *ngFor="let error of getValidationMessages(lastName)">
                {{error}}
              </li>
            </ul>
          </div>

          <div class="form-group">
            <label>Email</label>
            <input class="form-control" [(ngModel)]="newUser.email" name="email"
                   #email="ngModel" required />
            <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || email.dirty) && email.invalid">
              <li *ngFor="let error of getValidationMessages(email)">
                {{error}}
              </li>
            </ul>
          </div>

          <div class="form-group">
            <label>Username</label>
            <input class="form-control" [(ngModel)]="newUser.username" name="username"
                   #username="ngModel" required />
            <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || username.dirty) && username.invalid">
              <li *ngFor="let error of getValidationMessages(username)">
                {{error}}
              </li>
            </ul>
          </div>

          <!--<div class="form-group">
            <label>Password</label>
            <input class="form-control" [(ngModel)]="newUser.password" name="password"
                   #password="ngModel" required />
            <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || password.dirty) && password.invalid">
              <li *ngFor="let error of getValidationMessages(password)">
                {{error}}
              </li>
            </ul>
          </div>

          <div class="form-group">
            <label>Confirm Password</label>
            <input class="form-control" [(ngModel)]="newUser.confirmPassword" name="confirmPassword"
                   #confirmPassword="ngModel" required />
            <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || confirmPassword.dirty) && confirmPassword.invalid">
              <li *ngFor="let error of getValidationMessages(confirmPassword)">
                {{error}}
              </li>
            </ul>
          </div>-->

          <div class="form-group">
            <label>National ID No.</label>
            <input class="form-control" [(ngModel)]="newUser.idNumber" name="idNumber"
                   #idNumber="ngModel" />
            <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || idNumber.dirty) && idNumber.invalid">
              <li *ngFor="let error of getValidationMessages(idNumber)">
                {{error}}
              </li>
            </ul>
          </div>

          <div class="form-group">
            <label>Phone</label>
            <input class="form-control" [(ngModel)]="newUser.phoneNumber" name="phoneNumber"
                   #phoneNumber="ngModel" />
            <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || phoneNumber.dirty) && phoneNumber.invalid">
              <li *ngFor="let error of getValidationMessages(phoneNumber)">
                {{error}}
              </li>
            </ul>
          </div>

          <div class="form-group ">
            <label>Gender</label>
            <select class="form-control" [(ngModel)]="newUser.gender" name="gender" #gender="ngModel" required>
              <option>Male</option>
              <option>Female</option>
            </select>
          </div>

          <div class="form-group">
            <label>Reason</label>
            <textarea class="form-control" [(ngModel)]="newUser.biography" name="biography"
                   #biography="ngModel" required></textarea>
            <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || biography.dirty) && biography.invalid">
              <li *ngFor="let error of getValidationMessages(biography)">
                {{error}}
              </li>
            </ul>
          </div>

          <!--<div class="form-group">
            <label>Image Url</label>
            <input class="form-control" [(ngModel)]="newUser.confirmPassword" name="confirmPassword"
                   #confirmPassword="ngModel" required />
            <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || confirmPassword.dirty) && confirmPassword.invalid">
              <li *ngFor="let error of getValidationMessages(confirmPassword)">
                {{ }}
              </li>
            </ul>
          </div>-->

          <div class="mb-2 row justify-content-center align-items-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
  input.ng-dirty.ng-invalid {
    border: 2px solid #ff0000
  }

  input.ng-dirty.ng-valid {
    border: 2px solid #6bc502
  }
  .create {
    margin: auto;
  }
</style>