
<div class="mt-2 mb-0">
  <h4 class="p-0" *ngIf="!isCheckedIn">Registerd Patients</h4>
  <h4 class="p-0" *ngIf="isCheckedIn">Current Patients</h4>
</div>
  <div>
    <search-list [title]='searchTitle' (change)="criteriaChange($event)" class="m-2"></search-list>
    <div *ngIf="isCheckedIn" class="btn btn-primary pull-right mb-3" (click)="registeredPatients()"> Registered Patients </div>
    <div *ngIf="!isCheckedIn" class="btn btn-primary pull-right" (click)="checkedInPatients()"><span class="badge badge-success badge-pill">{{checkedInPatientsCount}}</span> Checked In Patients </div>
    <button *ngIf="!isCheckedIn" class="btn btn-primary mt-2" routerLink="/patient"><i class="fa fa-user-plus"></i> Add Patient</button>
  </div>
  <table class="table table-sm table-striped table-bordered m-2 p-1">
    <tr>
      <th></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>DOB</th>
      <th>Sublocation</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let pat of patients | patientFilter: listFilter; index as i">
      <td>{{i + 1}}</td>
      <td>{{pat?.firstName ||'Loading Data...'}}</td>
      <td>{{pat?.lastName || 'Loading Data...'}}</td>
      <td>{{pat?.dob | date: 'mediumDate' || 'Loading Data...'}}</td>
      <td>{{pat?.sublocation || 'Loading Data...'}}</td>
      <td>
        <button class="btn btn-sm btn-primary" [hidden]="isCheckedIn" data-toggle="tooltip" data-placement="bottom" title="Check In" [routerLink]="['/visitcreate', pat?.patientID]"><i class="fa fa-sign-in"></i></button>
        <button class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Details"
                [routerLink]="['/patientdetail', pat?.patientID]">
          <i class="fa fa-address-card-o"></i>
        </button>
        <button class="btn btn-sm btn-warning" [hidden]="isCheckedIn" data-toggle="tooltip" data-placement="bottom" title="Edit"
                [routerLink]="['/patient', pat.patientID]">
        <i class="fa fa-pencil"></i></button>
      </td>
    </tr>
  </table>
